{% extends 'base.html.twig' %}

{% block title %}Hello ImageListController!{% endblock %}

{% block body %}
<div class="row">
    <button type="button" class="btn-lg btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Extract Images</button>
</div>
<div class="row" style="padding:2%;">
{% if image_list %}
    {% for image in image_list %}
    <div class ="col-sm-4 mb-4">
        <div class="card card-cascade wider">
            <img class="card-img-top" src="{{ image.imageUrl }}" alt="">
            <div class="card-body">
                {% for characteristic in image.characteristics %}   
                    <p class="card-text">{{characteristic.name}} : {{characteristic.value}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <h2 class="text-center">No images found</h2>
{% endif %}    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
{{ form_start(form) }}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Url without https://</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{form_widget(form.urlPattern, {'attr': {
                    'class': 'form-control',
                    'placeholder': 'www.example.com',
                }})}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Extract</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
</div>
{% endblock %}
